{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_boardgame_index') }}">Retour à la liste</a>
    <h1>détail du jeu</h1>
        <p>Nom du jeu : {{ board_game.name }}</p>
        {%  if board_game.description %}
            <p>Description :{{ board_game.description }}</p>
        {%  else %}
            <p>Description en cours de redaction</p>
        {% endif %}

    <dl>
        <dt>Date de sortie</dt>
        <dt>{{ board_game.releasedAt | date('d/m/Y') }}</dt>
        {# le composant PropertyAccessor essaye dans l'ordre d'appeler:
            - attribut releasedAt
            - la méthode releasedAt()
            - la méthode getReleasedAt()
            - la méthode isReleasedAt()
            - la méthode hasRealeasedAt()
            #}

    </dl>
    <p>A partir de : {{ board_game.ageGroup }} ans</p>

    <p>Catégories</p>
    <div>
        {%  for categorie in board_game.classifiedIn %}
          {{ categorie.name }} {{ loop.last ? '': ", " }}
        {%  endfor %}
    </div>

    <a href="{{ path('app_admin_boardgame_edit', { id: board_game.id }) }}">  Modifier  </a>
{% endblock %}

{#ALTERNATIF


#}